.bet-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .icon-coin {

        img {
            height: 30px;
            border-radius: 100px;
            box-shadow: 0 5px #999;

            :active {
                box-shadow: 0 2px #666;
                transform: translateY(4px);
            }
        }
    }

    .bet-amount {
        h1 {
            font-size: 20px;
        }
    }

}