.avatar-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;

    .hit-img {
        height: 20px;
    }


}