.user-msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: var(--border-gray);
    border-radius: var(--border-radius);
    background-color: var(--bg-accent);
    width: 100%;
    max-width: 370px;

    img {
        width: 20px;
        height: 20px;
    }

    p {
        font-size: var(--font-size-big);
        color: var(--alert-color);
    }
}