.bank-cards-playing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 10px;

    .bank-icon {
        height: 40px;
    }

    .deck {
        flex: 1;
        padding: 0px 10px 0px 10px;
    }

    .bank-result {
        height: 40px;
    }

}