.bank-cards-playing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #484a4d;

    .bank-icon {
        height: 40px;
    }


}