.board-multiplayer {
    background-color: var(--bg);
    /*     border: var(--border);
    border-radius: var(--border-radius);
 */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.multiplayer-row {
    flex-grow: 1;
}