.deck {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.current-result {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current-play {
    height: 40px;
    width: 40px;
}

.buttons-playing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.buttons-beting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}