.card-deck-player {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    .card {
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: var(--border-red);
        border-radius: var(--border-radius);
        background-color: yellow;

        p {
            font-size: var(--font-size-medium);
            font-weight: bold;
            color: black;
        }
    }

    .card-total {
        background-color: green;
    }

    .arrow {
        width: 15px;
        height: 15px;
        align-self: center;
    }

    .card-hidden {
        background-color: gray;
    }

    .empty-cards {
        display: flex;
        flex-direction: row;
        padding: var(--padding-small);
        background-color: var(--bg-accent);

        p {
            font-size: var(--font-size-small);
            color: var(--alert-color);
        }
    }

}