.card-deck-player {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    .card {
        margin: 2px 2px;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: var(--border-red);
        border-radius: var(--border-radius);
        background-color: yellow;

        p {
            margin: 0 0 0 0;
            font-size: 14px;
            font-weight: bold;
            color: black;
        }
    }

    .card-hidden {
        background-color: gray;
    }

}