.current-player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #484a4d;

    .current-player {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .player-name {
            font-size: 14px;
            font-weight: bold;
        }

        .bet {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-size: 12px;
                font-weight: bold;
                color: green;
            }

            img {
                height: 30px;
            }
        }

        .deck {
            flex: 1;
        }
    }

    .msg-no-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

}