.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;

    img {
        height: 40px;
    }

    :active {
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
}