.login-content {
    .bufon {
        height: 300px;
    }

    h2 {
        color: green;
    }

    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .login-form {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        input {
            max-width: 300px;
        }

        button {
            max-width: 200px;
            ;
        }
    }

}