.login-content {
    .logo {
        margin-bottom: 20px;
        padding: 20px 20px;
        height: 200px;
    }

    h2 {
        color: green;
    }

    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .login-form {
        height: 300x;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        input {
            margin-top: 10px;
            max-width: 300px;
        }

        button {
            margin-top: 10px;
            max-width: 200px;
            ;
        }
    }

}