.game-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    .bank-connected {
        display: flex;
        flex-direction: row;
        margin-left: var(--margin-big);
    }

    .player-connected {
        display: flex;
        flex-direction: row;
        margin-left: var(--margin-big);
    }

    .player-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100px;
        margin-left: var(--margin-medium);

        .name {
            text-align: center;
            font-size: var(--font-size-medium);
        }

        .total-win {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;

            .mount {
                flex: 1;
                text-align: end;
                font-size: var(--font-size-small);
                color: green;
            }
        }

        .total-lost {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;

            .mount {
                flex: 1;
                text-align: end;
                font-size: var(--font-size-small);
                color: red;
            }
        }

        .icon-lost {
            height: 15px;
        }
    }
}