.player-multiplayer {
    margin-top: 20px;
    padding: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border-green);
    border-radius: var(--border-radius);


    .detail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;

        p {
            font-weight: bold;
            font-size: 12px;
        }

        img {
            height: 15px;
        }
    }

    .total-lost {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        p {
            margin: 0px 0px 0px 5px;
            color: red;
            font-weight: bold;
        }

        img {
            height: 20px;
        }
    }

    .bet-amount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        p {
            margin: 0px 0px 0px 5px;
            color: green;
            font-weight: bold;
        }

        img {
            height: 20px;
        }

    }

}