.navbar-container {
    display: flex;
    width: 100%;
    height: var(--nav-size);
    background-color: var(--bg);
    border-bottom: var(--border);

    img {
        height: 40px;
    }
}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
}