:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border-red: 2px solid red;
  --border-green: 2px solid green;
  --border-gray: 1px solid gray;
  --speed: 500ms;
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --alert-color: yellow;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-big: 16px;
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-big: 15px;
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-big: 15px;
}

p {
  color: var(--text-color);
  margin: 0 0 0 0;
}

h1 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

h2 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

h3 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

figure {
  margin: 0 0 0 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

body {
  margin: 0 0 0 0;
  background: #151616;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button-menu {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button-menu:hover {
  filter: brightness(1.2);
}

.icon-button-menu svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-right {
  margin-left: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board-for-playing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--bg);
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}