:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-red: 2px solid red;
  --border-green: 2px solid green;
  --border-radius: 8px;
  --speed: 500ms;
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

p {
  color: var(--text-color);
  margin: 0 0 0 0;
}

h1 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

h2 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

h3 {
  margin: 0 0 0 0;
  color: var(--text-color);
}

figure {
  margin: 0 0 0 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

body {
  margin: 0;
  background: #151616;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button-menu {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button-menu:hover {
  filter: brightness(1.2);
}

.icon-button-menu svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-right {
  margin-left: auto;
}

.main-content {
  margin: 60px 0 0 0;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.item-container {
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-options {
  padding: 20px 0 20px 0;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-buttons {
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}